.jumbotron
  %h1
    占位图片服务
  %p
    %strong 这是一个提供占位图片的网络服务。它使你能快速、简单的获取占位图片，并在设计或者编程中使用。
  %p 只需要在我们的网址后面，加上图片的大小(宽度和高度)，你就能获取到占位图片了。
  %p
    %a{href: '#exmaple', class:'btn btn-primary btn-lg'} 点击查看示例 &raquo;

#exmaple.page-header
  %h3
    示例
=link_to 'http://ph.4ye.me/300/300', 'http://ph.4ye.me/300/300', target: '_blank'
